.retrieve{
	position: absolute;
	width:20%;
	height:15%;
	left:3%;
	top:38%;
	opacity:0.7;
	background-color:#FFFFFF;
	margin:0;
	padding-bottom:60px;
	text-align:center;
}
.delete{
	position: absolute;
	width:20%;
	height:15%;
	opacity:0.8;
	left:27%;
	top:28%;
	opacity:0.7;
	background-color:#FFFFFF;
	margin:0;
	padding-bottom:60px;
	text-align:center;
}
.update{
	position: absolute;
	width:20%;
	height:15%;
	left:52%;
	top:40%;
	opacity:0.7;
	background-color:#FFFFFF;
	margin:0;
	padding-bottom:60px;
	text-align:center;
}

.create{
	position: absolute;
	width:17%;
	height:15%;
	left:79%;
	top:25%;
	opacity:0.7;
	background-color:#FFFFFF;
	margin:0;
	padding-bottom:60px;
	text-align:center;
}

